<!DOCTYPE html>
<html>
<head>
  <title>张家港天工机械制造有限公司</title>
  <meta name="keywords" content="张家港天工机械制造有限公司|天工|金刚石线|硅开方|硅截断|硅切片|精密倒丝机|收线机|金刚石电镀线"/>
  <meta name="description" content="张家港天工机械制造有限公司|天工|金刚石线|硅开方|硅截断|硅切片|精密倒丝机|收线机|金刚石电镀线"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'logged' if user_signed_in? %>">
  <header>
    <nav class="navbar navbar-default grove-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">   <i class="glyphicons show_lines"><i></i></i>  </a>
                <a href="/" class="navbar-brand">
                    <img src="/assets/logo.jpg" alt="Grove" height='48'> 张家港天工机械制造有限公司
                </a>
            </div>

            <div class="collapse navbar-collapse grove-nav">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="/about" data-toggle="dropdown">关于天工 <b class="caret"></b></a>
                    </li>
                    <li class="dropdown">
                        <a href="/posts" data-toggle="dropdown">天工动态 <b class="caret"></b></a>
                    </li>
                    <li class="dropdown">
                        <a href="/products" data-toggle="dropdown">天工产品 <b class="caret"></b></a>
                    </li>
                    <li class="dropdown">
                        <a href="/contact" data-toggle="dropdown">联系我们 <b class="caret"></b></a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>

<div class="hidden-xs">
  <div id="layerslider" style="width: 100%; height: 405px; margin: 0px auto; ">
      <div class="ls-layer" style="transition2d:5;">
        <%= image_tag 'bg-five.jpg', class: "ls-bg" %>
        <%= image_tag 'imac.jpg', class: "ls-s-1", style: "top:15px; left:650px; durationin : 1250; durationout : 1250;"  %>

        <div class="ls-s-1 large-caption"
             style="top:120px; left:20px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
            <div><p>金刚石电镀线设备</p></div>
            <div><p>生产线速度可达15—50m/min</p></div>
            <div>
                <p>自动化操作,让生产更简单</p>
            </div>
        </div>
      </div>

      <div class="ls-layer" style="transition2d:5;">
        <%= image_tag 'bg-one.jpg', class: "ls-bg" %>
        <%= image_tag 'fam_imac.png', class: "ls-s-1", style: "top:50px; left:50px; durationin : 1250; durationout : 1250; delayin : 0;"  %>


          <div class="ls-s-1 large-caption"
               style="top:130px; left:700px; delayin : 700; slidedirection : fade; slideoutdirection : fade;">
              <div><p>Layerslider:</p></div>
              <div><p>Highly configurable,</p></div>
              <div><p>fexible, responsive and fast</p></div>
          </div>

      </div>

       <div class="ls-layer" style="transition2d:5;">
        <%= image_tag 'bg-three.jpg', class: "ls-bg" %>
        <%= image_tag 'macbook-air.png', class: "ls-s-1", style: "top:50px; left:50px; durationin : 1250; durationout : 1250; delayin : 0;"  %>

          <div class="ls-s-1 large-caption"
               style="top:150px; left:750px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
              <div><p>Impress your visitors,</p></div>
              <div><p>and turn them into clients!</p></div>
          </div>
      </div>
  </div>
</div>
<!--LayerSlider end-->

<div class="widewrapper weak-highlight">
  <div class="container content">
    <%= yield %>
  </div>
</div>

<footer class="widewrapper footer">
  <div class="container">
     <div class="row footer">
        <div class="col-sm-3">
            <h4>关于天工</h4>
            <p> 我公司位于全国文明卫生城市，张家港市塘桥镇，204国道旁边，主营线材电线电缆表面处理设备以及金刚线切割设备,公司竭诚欢迎相关企业人士，成为我们的客户，成为我们的朋友，成为我们的伙伴！欢迎各界朋友莅临参观、指导和业务洽谈。</p>
        </div>
        <div class="col-sm-3">
            <div class="indent30">
            <h4>最新动太态</h4>
            <ul class="grove-list">
                <% Post.order('created_at desc').limit(5).each do |post| %>
                    <li><%= link_to post.title, post %></li>
                <% end %>
            </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <h4>网站管理</h4>
            <% if user_signed_in? %>
              <ul class="grove-list">
                <li><%= link_to('退出网站', destroy_user_session_path, :method => :delete) %>   </li>
                <li><%= link_to '增加新产品', new_product_path  %></li>
                <li><%= link_to '增加新闻', new_post_path  %></li>
                <li><%= link_to '查看留言', messages_path  %></li>
              </ul>
              </ul>
            <% else %>

              <%= link_to('登陆网站', new_user_session_path)  %>
            <% end %>
        </div>

        <div class="col-sm-3">
            <h4>联系我们</h4>
            <address>
              联系人: 唐晓伟 先生 （总经理办公室 经理） <br>
              电 话:86 0512 58905516 <br>
              移动电话： 18662230008 <br>
              传   真：86 0512 58905516 <br>
            </address>
        </div>
    </div>
 </div>

 <div class="container copyright">

 </div>
</footer>

</body>
</html>
